body{
    text-align: center;
    background-color: pink;
    width: 300px;
    margin: 0 auto;
    color: white;
}
h1{
    font-size: xx-large;
    font-weight: bolder;
}
p{
    font-weight: bolder;
}
h2 p{
    text-align: left;
    font-size: small; font-weight: bolder;
    color: black;
}
img{
    display: block;
    width: 150px;
    margin: 0 auto;
}
.main-para{
    font-size: x-small;
}
h3 p{
    font-size: xx-large;
}
footer{
    color: black;
    font-size: small;
}